[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/JKachele/nvim.git
[submodule "zsh-git-prompt"]
	path = zsh-git-prompt
	url = https://github.com/olivierverdier/zsh-git-prompt.git
